body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.featureToggle {
	background: green;
	color: white;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}

.inactive {
	background: red;
	color: white;
}

.toggleButton {
	float: right;
}